@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;

    --card: #09090b;
    --card-foreground: #fafafa;

    --popover: #0a0a0a;
    --popover-foreground: #fafafa;

    --primary: #9de86e;
    --primary-hover: #80e142;
    --primary-foreground: #17171c;

    --secondary: #171718;
    --secondary-foreground: #fafafa;

    --muted: #262629;
    --muted-foreground: #8f8f8f;

    --accent: #262629;
    --accent-foreground: #fafafa;

    --destructive: #ca240e;
    --destructive-foreground: #fafafa;

    --border: #262629;
    --input: #262629;
    --ring: #9fe870;
    --neon: #68e918;
    --radius: 0.5rem;
  }
}

@layer components {
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-base font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  *::selection {
    background-color: var(--primary-hover);
    color: var(--accent);
  }

  body {
    @apply bg-background text-foreground;
  }

  .bg-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(
      ellipse at bottom,
      rgba($color: #80e142, $alpha: 0.2) 0%,
      var(--background) 100%
    );
    z-index: -1;
  }

  .glass-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: theme("borderRadius.lg");
    cursor: pointer;
  }

  .glass-card::before,
  .glass-card::after {
    content: "";
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: inherit;

    transition: all 500ms;
  }

  .glass-card::before {
    background: radial-gradient(
      800px circle at var(--mouseX) var(--mouseY),
      rgba($color: #68e918, $alpha: 0.03) 0%,
      transparent 20%
    );
    z-index: 3;
  }

  .glass-card::after {
    background: radial-gradient(
      400px circle at var(--mouseX) var(--mouseY),
      rgba($color: #68e918, $alpha: 0.08) 0%,
      transparent 60%
    );
    z-index: 1;
  }

  .glass-card:hover::before,
  .glass-card:hover::after {
    opacity: 1;
  }

  .glass-content {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: inherit;
    margin: 1px;
    position: relative;
    z-index: 2;
  }

  $lineColor: var(--background);
  $step: 4;
  $borderWeight: 1px;

  @function borderShadow($n) {
    $value: "0px 0px #{$lineColor}";
    @for $i from 0 through $n {
      $value: "#{$value} , 0px #{($step)*$i}px #{$lineColor}";
    }
    @return unquote($value);
  }
  @function stripeShadow($n) {
    $value: "0px 0px #{$lineColor}";
    @for $i from 0 through $n {
      $value: "#{$value} , #{($step)*$i}px 0px #{$lineColor}";
    }

    @return unquote($value);
  }
  $border: borderShadow(1000);
  $stripe: stripeShadow(1000);

  .bg {
    width: 100%;
    height: $borderWeight;
    box-shadow: $border;

    &:after {
      content: "";
      position: absolute;
      width: $borderWeight;
      height: 100%;
      box-shadow: $stripe;
    }
  }

  .radial-overlay {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 0%,
      var(--background) 100%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--muted);
    padding: 4px;
    border-radius: theme("borderRadius.lg");
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  ::-webkit-scrollbar-button {
    display: none;
  }
}
